@import "variables.scss";

button,
input[type="button"] {
  border: none;
  border-radius: $small-radius;
  color: $light;
  cursor: pointer;
  display: flex;
  align-items: center;

  &.sm {
    font-size: 12px;
    padding: 0 calc(#{$basic-module} * 1.5);
    height: calc(#{$basic-module} * 2);

    i {
      font-size: 14px;
      margin-right: $basic-module;
    }
  }

  &.md {
    font-size: 14px;
    padding: 0 calc(#{$basic-module} * 2);
    height: calc(#{$basic-module} * 3);

    i {
      font-size: 18px;
      margin-right: $basic-module;
    }
  }

  &.lg {
    font-size: 18px;
    padding: 0 calc(#{$basic-module} * 2);
    height: calc(#{$basic-module} * 4);
  }

  &.success {
    background-color: $sick-green;
    color: $light;
    width: fit-content;
  }

  &.standard {
    background-color: $dark-sky-blue;
  }
}

button:disabled,
input[type="button"]:disabled {
  background-color: $pale-grey;
  color: $cool-grey;
}
