@import "variables.scss";

app-header {
  grid-area: header;
}

.content-container {
  grid-area: content;
  height: 100%;
  background-color: $pale-grey-two;
}

app-footer {
  position: fixed;
  width: 100%;
  height: $sm-panel-height;
  bottom: 0;
}

app-root {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows:
    $lg-panel-height /* Header */
    auto; /* Content */
}
