@import "variables";

app-header {
  grid-area: header;
}

app-title {
  grid-area: title;
}

app-footer {
  grid-area: footer;
}

app-root {
  display: grid;
  grid-template-areas:
    "header"
    "title"
    "content"
    "footer";
  grid-template-rows:
    $lg-panel-height /* Header */
    $lg-panel-height /* Title */
    auto /* Content */
    $lg-panel-height; /* Footer */
}

@media (max-width: $lg-panel-width) {
  app-root {
    grid-template-rows:
      $sm-panel-height /* Header */
      $sm-panel-height /* Title */
      auto /* Content */
      $sm-panel-height; /* Footer */
  }
}
