/* colors */
$charcoal-grey: #414452;
$dark: #2c2f3c;
$dark-sky-blue: #30b6dd;
$light: white;
$pale-grey: #d9dbe3;
$pale-grey-two: #f2f3f7;
$sick-green: #9bc837;
$silver: #c0c3ce;
$slate-grey: #525462;

/* large resolution */
$lg-panel-width: 1110px;
$lg-panel-height: 64px;

/* small resolution */
$sm-panel-height: 48px;

/* module */
$basic-module: 12px;
$min-width: 380px;
