/* colors */
$battleship-grey: #6c7283;
$charcoal-grey: #414452;
$cool-grey: #a8a9b4;
$dark: #2c2f3c;
$dark-sky-blue: #30b6dd;
$light: white;
$pale-grey: #d9dbe3;
$pale-grey-two: #f2f3f7;
$sick-green: #9bc837;
$silver: #c0c3ce;
$slate-grey: #525462;
$steel: #868996;
$light-grey: #b9bdce;
$soft-blue: #577ce6;
$soft-blue-two: #5681ee;

/* radius */
$small-radius: 3px;
$large-radius: 8px;

/* large resolution */
$lg-panel-width: 1110px;
$lg-panel-height: 64px;

/* small resolution */
$sm-panel-height: 48px;

/* module */
$basic-module: 12px;
$min-width: 380px;
