/* colors */
$charcoal-grey: #414452;
$dark: #2c2f3c;
$light: white;
$pale-grey-two: #f2f3f7;
$silver: #c0c3ce;

/* large resolution */
$lg-width: 1024px;
$lg-panel-width: 1110px;
$lg-panel-height: 64px;

/* small resolution */
$sm-panel-height: 48px;
