<section class="card-header">
  <h1>{{ course.title }}</h1>
  <div class="card-info">
    <i class="far fa-clock"></i>
    <span>{{ course.duration }}</span>
    <i class="far fa-calendar"></i>
    <span>{{ course.creationDate | date }}</span>
  </div>
</section>
<div class="card-content">
  <div class="description">
    {{ course.description }}
  </div>
  <div class="card-buttons">
    <button (click)="editCourse()" class="standard sm"><i class="fas fa-edit"></i><span>Edit</span></button>
    <button (click)="deleteCourse()" class="standard sm"><i class="fas fa-trash-alt"></i><span>Delete</span></button>
  </div>
</div>
