<div class="basic-card">
  <div class="line">
    <h1>New course</h1>
  </div>
  <div class="line">
    <input [(ngModel)]="course.title" autofocus appLabel="Title:" required placeholder="Text input">
  </div>
  <div class="line">
    <textarea [(ngModel)]="course.description" appLabel="Description:" required
      placeholder="Add description"></textarea>
  </div>
  <div class="line">
    <input [(ngModel)]="course.duration" appLabel="Duration:" required placeholder="minutes" type="number">
  </div>
  <div class="line">
    <input [ngModel]="course.creationDate | date:'yyyy-MM-dd'" (ngModelChange)="setCreationDate($event)" appLabel="Date:" required placeholder="mm-dd-yyyy"
      type="date">
  </div>
  <div class="line buttons-container">
    <div class="buttons">
      <a routerLink="/courses">
        <button class="md cancel">Cancel</button>
      </a>
      <button (click)="add()" class="md success">Add</button>
    </div>
  </div>
</div>
