@import "app/styles/variables";

:host {
  display: flex;
  background-color: $charcoal-grey;
  color: $silver;
  align-items: center;
  justify-content: center;
}

footer {
  margin-right: calc(#{$basic-module} * 2);
  min-width: $lg-panel-width;
  text-align: right;
}

@media (max-width: $lg-panel-width) {
  :host {
    min-width: none;
  }
}
