@import "app/styles/variables";

:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.basic-card {
  min-width: 368px;
}

a {
  margin-left: 0.5rem;
}

.error-message {
  font-size: 12px;
  color: $orange-red;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  width: fit-content;
}

.line.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.line.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
