<div class="basic-card" [formGroup]="loginForm">
  <div class="line header">
    <h1>Test</h1>
    <span class="error-message">{{ errorMessage }}</span>
  </div>
  <div class="line">
    <input
      [class.invalid]="showErrors && loginForm.controls.email.invalid"
      formControlName="email"
      autofocus
      appLabel="E-mail:"
      required
      placeholder="example@mail.com"
    />
  </div>
  <div class="line">
    <input
      [class.invalid]="showErrors && loginForm.controls.password.invalid"
      formControlName="password"
      appLabel="Password:"
      required
      placeholder="Enter password"
      type="password"
    />
  </div>
  <div class="line buttons">
    <a class="secondary-link" href="#">Forgot password?</a>
    <button
      (click)="login()"
      [className]="loginForm.valid ? 'md success' : 'md disabled'"
    >
      Login
    </button>
  </div>
</div>
