<section class="search">
  <app-search></app-search>
  <button class="search lg">Search</button>
</section>

<section class="add-course">
  <button class="standard md">
    <i class="fa fa-plus"></i>
    <span>Add course</span>
  </button>
</section>

<section class="cards">
  <div class="card" *ngFor="let course of courses">
    <section class="card-header">
      <h1>{{ course.title }}</h1>
      <div class="card-info">
        <i class="far fa-clock"></i>
        <span>{{ course.duration }}</span>
        <i class="far fa-calendar"></i>
        <span>{{ course.creationDate | date }}</span>
      </div>
    </section>
    <div class="card-content">
      <div class="description">
        {{ course.description }}
      </div>
      <div class="card-buttons">
        <button class="standard sm"><i class="fas fa-edit"></i><span>Edit</span></button>
        <button class="standard sm"><i class="fas fa-trash-alt"></i><span>Delete</span></button>
      </div>
    </div>
  </div>

  <div class="load-more">LOAD MORE</div>
</section>
