@import "app/styles/variables";

$confirm-padding: 1rem 1.5rem;

:host {
  display: none;
}

.basic-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.confirm-container {
  @extend .basic-container;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-cover {
  @extend .basic-container;
  background-color: black;
  opacity: 0.7;
}

.confirm-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: relative;
  color: $slate-grey;

  .confirm-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $pale-grey-two;
    font-weight: 600;
    font-size: 18px;
    border-radius: $large-radius $large-radius 0 0;
    padding: $confirm-padding;

    i {
      color: $cool-grey;
      font-size: 24px;
      cursor: pointer;
    }
  }

  .confirm-message {
    background-color: $light;
    padding: $confirm-padding;
  }

  .confirm-buttons {
    background-color: $light;
    padding: $confirm-padding;
    border-radius: 0 0 $large-radius $large-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button {
      float: left;
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
