<section class="search">
  <app-search (text)="setSearchText($event)"></app-search>
</section>

<section class="add-course">
  <a routerLink="/courses/new">
    <button class="standard md">
      <i class="fa fa-plus"></i>
      <span>Add course</span>
    </button>
  </a>
</section>

<section class="cards">
  <app-course-card class="basic-card" *ngFor="let course of courses" [course]="course"
    [class.top-rated]="course.topRated" (delete)="deleteCourse($event)" appStatusIcons appFreshCourse></app-course-card>

  <div *ngIf="showLoadMore" (click)="loadMore()" class="basic-card button-card">LOAD MORE</div>

  <div *ngIf="courses.length === 0" class="basic-card button-card">
    <a routerLink="/courses/new">NO DATA. FEEL FREE TO ADD NEW COURSE</a>
  </div>
</section>
