:host {
  display: flex;
  height: 100%;
  align-items: center;
}

.card-header, .card-content {
  text-align: center;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 2rem;
}

.line.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
