@import "app/styles/variables";

aside {
  display: grid;
  height: $lg-panel-height;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-gap: 1.5rem;
}

img {
  width: auto;
  height: 12px;
  margin-right: 0.5rem;
}

section {
  cursor: pointer;
}

@media (max-width: $lg-panel-width) {
  aside {
    height: $sm-panel-height;
  }
}
