@import "app/styles/variables";

.content-wrapper {
  display: flex;
  height: calc(100% - #{$lg-panel-height});
  box-sizing: border-box;
  padding-bottom: $lg-panel-height;
  justify-content: center;
  align-items: flex-start;
}
